body {
  font-family: "optima","comic sans","Avant Garde","URW Gothic L",helvetica,sans-serif;
  font-size: 13px;
  background-color: #FFFFFF;
  color: #000000;
}
.header {
  width: 850px;
  background-color: #FFFFFF;
  padding: 20px;
  margin: 10px auto;
}
.main {
  width: 850px;
  background-color: #FFFFFF;
  padding: 20px;
  margin: 10px auto;
  position:relative;
  left: 50px;
  float:right;
}

.page{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}


a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.title {
  font-size: 20px;
  text-align:center;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: "Optima","Avant Garde Gothic","Avant Garde","URW Gothic L",helvetica,sans-serif;
  font-weight: normal;
}
.nav {
	width:50px;
	background-color:#FFFFFF;
	padding: 20px;
  	margin-top: 10px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 0px;
	float:left;
}
.nav ul {
  padding: 0;
  margin:auto;
  margin-left:auto;
}
.nav ul li {
  list-style-type: none;
  margin:auto;
}
.nav a {
  font-family: "optima","Avant Garde Gothic","Avant Garde","URW Gothic L",helvetica,sans-serif;
  font-size: 17px;
  text-decoration: none;
  display: block;
  padding: 1px 10px;
  border: 1px solid #000000;
  margin: 1px 2px;
  width: 100px;
  text-align: center;
}
.nav a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

ul li {
  padding: 5px 0;
}
p {
  margin: 0 15px 10px 15px;
}
ol li {
  padding: 5px 0;
}
ol {
  margin: 0px auto;
}
h3 {
  margin-top: 20px;
}